<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Home Address</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @Html.Label("txt_address_1", "Address Line 1", new { @class = "control-label" })
                        @Html.TextBox("txt_address_1", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-12">
                        @Html.Label("txt_address_2", "Address Line 2", new { @class = "control-label" })
                        @Html.TextBox("txt_address_2", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.Label("txt_city", "City", new { @class = "control-label" })
                        @Html.TextBox("txt_city", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.Label("txt_state_province", "State / Province", new { @class = "control-label" })
                        @Html.TextBox("txt_state_province", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.Label("txt_postal_code", "Postal Code", new { @class = "control-label" })
                        @Html.TextBox("txt_postal_code", null, new { @class = "form-control" })
                    </div>



                </div>

            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-3">
        @Html.Label("txt_phone", "Phone Number", new { @class = "control-label" })
        @Html.TextBox("txt_phone", null, new { @class = "form-control" })
    </div>
    <div class="col-md-3">
        @Html.Label("txt_mobile", "Mobile Number", new { @class = "control-label" })
        @Html.TextBox("txt_mobile", null, new { @class = "form-control" })
    </div>

    <div class="col-md-6">
        @Html.Label("txt_email", "Email", new { @class = "control-label" })
        @Html.TextBox("txt_email", null, new { @class = "form-control" })
    </div>
</div>



<div class="row" style="margin-top: 15px">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Emergency Contact Info</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        @Html.Label("txt_contact_name_1", "Contact Name 1", new { @class = "control-label" })
                        @Html.TextBox("txt_contact_name_1", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.Label("txt_contact_phone_1", "Contact Phone 1", new { @class = "control-label" })
                        @Html.TextBox("txt_contact_phone_1", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.Label("txt_relation_1", "Relation", new { @class = "control-label" })
                        @Html.TextBox("txt_relation_1", null, new { @class = "form-control" })
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        @Html.Label("txt_contact_name_2", "Contact Name 2", new { @class = "control-label" })
                        @Html.TextBox("txt_contact_name_2", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.Label("txt_contact_phone_2", "Contact Phone 2", new { @class = "control-label" })
                        @Html.TextBox("txt_contact_phone_2", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        @Html.Label("txt_relation_2", "Relation", new { @class = "control-label" })
                        @Html.TextBox("txt_relation_2", null, new { @class = "form-control" })
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>


